#innerbox{
    padding:15px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

#mainbox{
    
    padding:10px;
    margin: 5px;
    border: 5px solid black;
    
    display: block;
}

#result{
    color: red;
}

#hd{
    margin-left:15px;
}